.homeLink {
  position: relative;
}

.logo_medium {
  position: relative;
  width: 3.6rem;
  height: 3.6rem;
}

.logo_small {
  width: 2.4rem;
  height: 2.4rem;
}

.logo_large {
  width: 5rem;
  height: 5rem;
}
