@use '../../00-globals/global-mixin' as *;
@use '../../00-globals/variables' as v;
@use '../variables' as lv;

%leftPane_defaultLink {
  color: #001;
  text-decoration: none;
  font-size: 0.98rem;
  font-family: v.$secondary_font;
  font-weight: 600;
}
$leftPane_bg: lighten(v.$primary_color, 70%) !default;

.left_pane {
  @include usePosition(relative);
  z-index: 1;
  transition: all 0.2s ease-in-out;
  flex: 0 0 0;
  max-width: lv.$pane-max-width;
  height: 100%;
  box-shadow: 1 0 0.1rem 0.01rem rgba(204, 201, 201, 0.412);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: lighten(v.$secondary_color, 55%) $leftPane_bg;

  &__link {
    @extend %leftPane_defaultLink;
  }

  &__content {
    height: 100%;
    @include useFlexbox(column, none);
    gap: 1rem;
    padding-block-start: 1rem;
  }
}

.name_container {
  @include useFlexbox(none);
  width: 100%;
  padding-inline: 0.5rem;

  @at-root .user_profil_link {
    $color: lighten(v.$primary_color, 75%);
    border-radius: 0.5rem;
    color: #112;
    background-color: darken($color, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.3rem;
    @include useSquareSize(100%);
  }
}

.user_profil {
  display: block;
  position: relative;
  @include useSquareSize(5rem);
  background-color: rgb(1, 76, 126);
  clip-path: circle(50% at 50% 50%);

  &__img {
    box-shadow: 0 0 0.5rem 0.1rem rgb(1, 23, 38);
    border: 1px solid red;
  }
}

.left_pane__nav {
  @include useFlexbox(column, none, flex-start);
  width: 100%;
}

.left_pane__nav__list {
  @include useFlexbox(column, none, flex-start);
  list-style-type: none;
  width: 100%;
}

.left_pane__nav__item {
  width: 100%;
}

.left_pane__nav__link {
  $color: darken($leftPane_bg, 3%);
  $links_bg: adjust-hue($color, 1deg);
  border: none;
  @include useFlexbox(none, none, center);
  gap: 0.6rem;
  width: 100%;
  padding-block: 0.9rem;
  padding-inline: 1.5rem 0.3rem;
  font-size: 1.1rem;
  position: relative;
  background-color: transparent;
  font-family: v.$secondary_font;

  &:hover {
    background-color: darken($links_bg, 5%);
  }
}

.current_page_tab {
  $color: darken($leftPane_bg, 5%);
  $links_bg: adjust-hue($color, 1deg);
  color: v.$secondary_color;
  background-color: $links_bg;

  &::after {
    $bd_color: lighten(v.$secondary_color, 15%);
    content: '';
    @include usePosition(absolute, 0, none, 0);
    height: 100%;
    width: 0.3rem;
    border: 0.3rem solid;
    border-color: transparent $bd_color transparent transparent;
  }
}

@media (max-width: 699px) {
  .left_pane_oppened {
    flex-basis: 15rem;
  }
}

@media (min-width: 700px) {
  .left_pane {
    flex-basis: 15rem;
  }

  .left_pane_oppened {
    flex-basis: 7rem;

    .name_container {
      padding-inline: 0.1rem;
    }

    .left_pane__nav__link {
      font-size: 1.6rem;
      // padding: 0.5rem;
      padding-inline: 0rem;
      transition: all 0.2s ease-in-out;
      justify-content: center;

      .left_pane__nav__link__text {
        display: none;
      }
    }
  }
}
