@use './variables' as v;
@use './global-mixin' as *;

button {
  font-family: v.$secondary_font;
  font-weight: 600;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
  }
}

button:disabled {
  pointer-events: none;
  opacity: 0.7;
}
