@use './variables' as v;

@mixin flexbox($dir: row, $jt: center, $al: center, $inline: none) {
  @if $inline==none {
    display: flex;
  } @else {
    display: inline-flex;
  }
  @if $dir != none {
    flex-direction: $dir;
  }
  @if $jt !=none {
    justify-content: $jt;
  }
  @if $al !=none {
    align-items: $al;
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin position(
  $position: relative,
  $top: none,
  $left: none,
  $right: none,
  $bottom: none
) {
  position: $position;
  @if $top != none {
    top: $top;
  }
  @if $left != none {
    left: $left;
  }

  @if ($right != none) {
    right: $right;
  }

  @if ($bottom != none) {
    bottom: $bottom;
  }
}

@mixin fullAbsPosition {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @content;
}

%useScrollbarStyle {
  scroll-behavior: smooth;
  scrollbar-color: lighten(v.$primary_color, 15%) lighten(v.$primary_color, 55%);

  :is(&, & *)::-webkit-scrollbar {
    width: 5px;
    background-color: lighten(v.$primary_color, 51%);
    border: 1px solid lighten(v.$primary_color, 47%);
  }

  :is(&, & *)::-webkit-scrollbar-thumb {
    background: darken(v.$primary_color, 11%);
  }
}

%useEllipsisText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

%modalContainerDefault {
  @include flexbox(column);
  @include position(fixed, 0, 0);
  @include size(100%);
  z-index: v.$zindex_modal_level_one;
  transition: background-color 0.01s ease;

  @media (max-height: 530px) {
    justify-content: flex-start;
    overflow: auto;
    padding-block-start: 1rem;
  }
}
