@use '../00-globals/functions' as f;
@use '../00-globals/global-mixin' as *;
@use '../00-globals/variables' as v;
.root {
  width: 100%;
  overflow: hidden;
  gap: 2px;
  display: flex;
  justify-content: center;
  background-color: #f0f9ff;
}

.root_content {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.main_content {
  position: relative;
  flex: 1 0.7 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(5rem) 1fr;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border-inline: 1px solid #ececec;
  @media (min-width: 700px) {
    width: auto;
  }
  @media (min-width: 1040px) {
    width: auto;
    flex-shrink: 1;
  }
}

.content_container {
  $leftPane_bg: lighten(v.$primary_color, 70%) !default;

  position: relative;
  flex: 1 0 auto;
  width: 100%;
  @include useFlexbox(column, flex-start, flex-start);
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 190, 165) lighten(v.$secondary_color, 55%);
  overflow: hidden auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.left_pane.left_pane_oppened {
  ~ .main_content .content_container {
    padding-inline-start: 9rem;
    @media (min-width: 400px) {
      padding-inline-start: 7rem;
    }
    @media (min-width: 500px) {
      padding-inline-start: 5rem;
    }
    @media (min-width: 600px) {
      padding-inline-start: 0;
    }
  }
}
