.post_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  padding-block: 0.5rem;
}
.post {
  background-color: rgba(234, 250, 242, 0);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 35rem;
  min-width: 18rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.5rem 0.05rem rgba(1, 22, 36, 0.212);
}

.post_top_details {
  padding: 0.2rem 0.5rem 0.1rem 0.5rem;
  border-radius: 0.3rem 0.3rem 0 0;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(215, 255, 235);
  border-block-end: 1px solid rgb(213, 221, 217);
}

.post_data {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex: 1;
}

.post_owner_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  clip-path: circle(50% at 50% 50%);
}

.post_owner_avatar_link {
  position: relative;
  width: 100%;
  height: 100%;
}

.post_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  padding: 0.3rem 0.2rem 0 0.2rem;
  line-height: 0.9rem;
}

.post_owner_name {
  font-size: 0.95rem;
  font-family: Merriweather, 'Open Sans', 'Titillium Web', Ubuntu, Roboto,
    sans-serif;
  font-weight: 700;
  color: rgb(71, 71, 71);
  text-decoration: none;
}

.post_date {
  font-size: 0.7rem;
  font-weight: 600;
  font-family: 'Titillium Web', Ubuntu, Roboto, sans-serif;
  color: rgb(71, 71, 71);
}

.post_options {
  display: flex;
  position: relative;
  align-items: center;
  position: relative;
}

.post_pre_options_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  position: relative;
}

.share_btn {
  $color: rgb(0, 129, 151);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  position: relative;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid $color;
  background-color: $color;
  color: rgb(255, 252, 246);
  box-shadow: 0 0 0.1rem 0.05rem $color;

  &:hover,
  &:focus {
    $color: darken($color, 10%);
    background-color: $color;
    border: 1px solid $color;
    box-shadow: 0 0 0.1rem 0.05rem $color;
  }
  &:active {
    $color: darken($color, 10%);
    box-shadow: 0 0 0.1rem 0.05rem $color;
    transform: scale(1.05);
  }
}

.open_optionBtn {
  width: 2.3rem;
  height: 2.3rem;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  &:hover,
  &:focus {
    background-color: rgba(203, 231, 180, 0.822);
  }
  &:active {
    background-color: rgba(186, 211, 165, 0.973);
  }
}

.options_container {
  $color: rgba(238, 237, 237, 0.897);
  display: none;
  flex-direction: column;
  position: absolute;
  top: calc(92%);
  right: 0;
  width: 8rem;
  border-radius: 0.5rem;
  gap: 0.05rem;
  background-color: $color;
  border: 1px solid $color;

  &.shown {
    display: flex;
  }

  &::before {
    content: '';
    display: block;
    width: 1rem;
    border: 0.5rem solid black;
    border-color: transparent transparent rgb(158, 158, 158) transparent;
    position: absolute;
    right: 0.3rem;
    top: -1.04rem;
  }
}

.option_item {
  display: flex;
  text-align: start;
  align-items: center;
  gap: 0.6rem;
  padding: 0.3rem 0.5rem;
  width: 100%;
  border: none;
  border-radius: 0;
  color: rgb(33, 43, 49);
  background-color: rgb(248, 255, 254);
  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  &:hover,
  &:focus {
    background-color: rgba(219, 252, 192, 0.726);
  }
  &:active {
    background-color: rgba(191, 219, 168, 0.726);
  }
}

.post_content {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: justify;
}

.post_content_title {
  font-size: 1.25rem;
  font-family: Merriweather, 'Open Sans', 'Titillium Web', Ubuntu, Roboto,
    sans-serif;
  font-weight: 900;
  color: rgb(54, 83, 83);
  text-decoration: none;
}

.post_content_body {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: rgb(40, 48, 49);
}

.post_reactions {
  border-block: 1px solid rgb(213, 221, 217);
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  padding-block: 0.15rem;
}

.reaction_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 0.3rem;
  flex: 1 1 auto;
  font-size: 1.1rem;
  color: rgb(54, 60, 61);

  &.activated {
    color: rgb(0, 129, 151);
    color: rgb(0, 89, 141);
  }

  &:hover {
    background-color: rgba(0, 131, 131, 0.199);
    color: rgb(0, 94, 148);
  }
}

.post_stats {
  font-size: 0.88rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  border-inline-start: 2px solid blue;
}

.stats {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  font-family: 'Titillium Web', Merriweather, Times, serif;
  color: rgb(76, 85, 94);
  font-weight: bold;
}

.stats_count {
  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.likes {
  color: rgb(0, 94, 148);
}

.dislikes {
  color: rgb(190, 4, 144);
}

.comments {
  color: rgb(0, 78, 102);
}

.shares {
  color: rgb(6, 39, 99);
}
.views {
  color: rgb(158, 1, 75);
}
