@use '../00-globals/global-mixin' as gmix;
.user_avatar {
  @include gmix.flexbox;
  position: relative;
  clip-path: circle(50% at 50% 50%);
  position: relative;
  flex-shrink: 0.2;
  position: relative;
}

.avatarXLarge {
  @include gmix.size(5.2rem);
}

.avatarLarge {
  @include gmix.size(3rem);
}

.avatarNormal {
  @include gmix.size(2.5rem);
}

.avatarSmall {
  @include gmix.size(2rem);
}

.user_avatar_img {
  @include gmix.size(100%);
  border-radius: 50%;
  object-fit: cover;
}
