.user_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  clip-path: circle(50% at 50% 50%);
  position: relative;
  flex-shrink: 0.2;
  position: relative;
}

.avatarXLarge {
  width: 5.2rem;
  height: 5.2rem;
}

.avatarLarge {
  width: 3rem;
  height: 3rem;
}

.avatarNormal {
  width: 2.5rem;
  height: 2.5rem;
}

.avatarSmall {
  width: 2rem;
  height: 2rem;
}

.user_avatar_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
