@use '../../00-globals/global-mixin' as gmix;
@use '../../00-globals/variables' as v;
@use '../variables' as lv;

%leftPane_defaultLink {
  color: #001;
  text-decoration: none;
  font-size: 0.98rem;
  font-family: v.$secondary_font;
  font-weight: 600;
}
$leftPane_bg: lighten(v.$primary_color, 70%) !default;

.leftpane {
  @include gmix.position(relative);
  z-index: 1;
  transition: all 0.2s ease-in-out;
  flex: 0 0 0;
  max-width: lv.$pane-max-width;
  height: 100%;
  box-shadow: 1 0 0.1rem 0.01rem rgba(204, 201, 201, 0.412);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: lighten(v.$secondary_color, 55%) $leftPane_bg;

  &_link {
    @extend %leftPane_defaultLink;
  }

  &__content {
    height: 100%;
    @include gmix.flexbox(column, none);
    gap: 1rem;
    padding-block-start: 1rem;
  }
}

.name_container {
  @include gmix.flexbox(none);
  width: 100%;
  padding-inline: 0.5rem;
}

.user_profile {
  $color: lighten(v.$primary_color, 75%);
  border-radius: 0.5rem;
  color: #112;
  background-color: darken($color, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.3rem;
  @include gmix.size(100%);
}

.homeLink {
  display: block;
  position: relative;
  background-color: rgb(1, 76, 126);
  clip-path: circle(50% at 50% 50%);

  &__img {
    box-shadow: 0 0 0.5rem 0.1rem rgb(1, 23, 38);
    border: 1px solid red;
  }
}

.leftpane__nav {
  @include gmix.flexbox(column, none, flex-start);
  width: 100%;
}

.leftpane_tabs {
  @include gmix.flexbox(column, none, flex-start);
  list-style-type: none;
  width: 100%;
}

.leftpane_item {
  width: 100%;
}

.leftpane_navLink {
  $color: darken($leftPane_bg, 3%);
  $links_bg: adjust-hue($color, 1deg);
  border: none;
  @include gmix.flexbox(none, none, center);
  gap: 0.6rem;
  width: 100%;
  padding-block: 0.9rem;
  padding-inline: 1.5rem 0.3rem;
  font-size: 1.1rem;
  position: relative;
  background-color: transparent;
  color: rgb(44, 41, 41);
  font-family: 'Titillium Web', 'Open Sans';

  &:hover {
    background-color: darken($links_bg, 5%);
  }
}

.current_page_tab {
  $color: darken($leftPane_bg, 5%);
  $links_bg: adjust-hue($color, 1deg);
  color: v.$secondary_color;
  background-color: $links_bg;

  &::after {
    $bd_color: lighten(v.$secondary_color, 15%);
    content: '';
    @include gmix.position(absolute, 0, none, 0);
    height: 100%;
    width: 0.3rem;
    border: 0.3rem solid;
    border-color: transparent $bd_color transparent transparent;
  }
}

@media (max-width: 699px) {
  .leftpane_oppened {
    flex-basis: 15rem;
  }
}

@media (min-width: 700px) {
  .leftpane {
    flex-basis: 15rem;
  }

  .leftpane_oppened {
    flex-basis: 7rem;

    .name_container {
      padding-inline: 0.1rem;
    }

    .leftpane_link {
      font-size: 1.6rem;
      padding-inline: 0rem;
      transition: all 0.2s ease-in-out;
      justify-content: center;

      .leftpane_linkText {
        display: none;
      }
    }
  }
}

.lighter {
  color: rgb(38, 67, 75);
  font-weight: 600;
  font-family: 'Titillium Web', Ubuntu, Roboto, sans-serif;
}
