@use '../partials/00-globals/global-mixin' as gmix;

.hope_loader {
  position: absolute;
  top: 0;
  left: 0;
  @include gmix.size(100%);
  @include gmix.flexbox;
  gap: 0.3125rem;
  font-size: 1rem;
  padding-block: 1rem;
  font-weight: 600;
  &.row_children {
    flex-direction: row;
    background-color: rgb(220, 220, 87);
  }
  &.column_children {
    flex-direction: column;
    // background-color: rgb(220, 87, 220);
  }
}

.loading__spinner {
  display: inline-block;
  animation-name: rotation;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-color: black transparent black transparent;
  border-radius: 20px;
  border-style: double;
  border-width: 3px;
  @include gmix.size(2rem);
}

.loading_text {
  @include gmix.flexbox(column);
  align-items: flex-start;
  gap: 0.3rem;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
